name: Turma1093 Jest Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install
        working-directory: Turma1093/aula4/SistemaDeValidacao

      - name: Run Jest tests
        run: npm test
        working-directory: Turma1093/aula4/SistemaDeValidacao
